.header__container {
  position: relative;
  background-color: lightgrey;
  border-bottom: 2px solid;
  border-color: black;
}

.header-left__container{
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
	padding: 5px 20px;
}

.header-left__image{
  width: 130px;
  height: auto;
}

.header-mid_container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-mid__text{
  font-size: 40px;
}

.header-mid__text--bold{
  font-weight: bold;
}

.header-right__container{
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}
