.vice-sidebar{
	position: relative;
	height: 100%;
	overflow-y: auto;
	&__wrapper{
		height: 100%;
		position: fixed;
		border-right: 1px solid gray;
		background-color: lightgrey;
	}

	&__link{
		display: flex;
		justify-content: center;
		align-items: center;

		padding: 10px 25px;
	}

	&__item{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		a{
			text-decoration: none;
			&:hover{
				text-decoration: none;
			}
		}
	}

}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}