.skade{
  &__form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h2{
      font-size: 24px;
      text-transform: capitalize;
    }
  }
}
