.vice-sidebar{
  height: inherit;
  width: 100%;
  overflow: hidden;

}
.vice-sidebar__wrapper{
  height: 100%;
  background-color: lightgrey;
  border-right: 1px solid black;
}

.vice-sidebar__link{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
}
